@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700;900&display=swap");

* {
  box-sizing: border-box;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: "Inter", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  scroll-behavior: smooth;
}

button {
  font-family: "Inter", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  color: inherit;
  text-decoration: none;
}

strong {
  font-weight: 900;
}

h1 {
  font-size: 7vw;
  font-weight: 900;
  text-align: center;
  text-transform: uppercase;
}

h2 {
  text-align: center;
  font-size: 2.5em;
  text-transform: capitalize;
}

.characters {
  display: grid;
  grid-gap: 1em;
  max-width: 50em;
  margin: auto;
  grid-template-columns: repeat(4, 1fr);
}

footer {
  padding-block: 2em;
  text-align: center;
}

@media screen and (min-width: 15em) and (max-width: 47em) {
  h1 {
    font-size: 15vw;
  }

  .characters {
    display: grid;
    padding: 1em;
    grid-gap: 1em;
    margin: auto;
    justify-content: center;
    grid-template-columns: repeat(2, 1fr);
  }
}
