@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700;900&display=swap");

* {
  box-sizing: border-box;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: "Inter", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  scroll-behavior: smooth;
}

main {
  height: 100vh;
  display: grid;
  grid-template-columns: 300px 1fr 1fr;
  grid-template-areas:
    "site title title"
    "nav chars chars"
    "footer footer footer";
  overflow: scroll;
}

main > nav {
  grid-area: nav;
}

button {
  font-family: "Inter", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  color: inherit;
  text-decoration: none;
  outline: none;
}

strong {
  font-weight: 900;
}

h1 {
  font-size: 7vw;
  font-weight: 900;
  text-align: center;
  text-transform: uppercase;
  grid-area: title;
  margin: 0;
  place-items: center;
  display: grid;
}

h2 {
  text-align: center;
  font-size: 2.5em;
  text-transform: capitalize;
}

.logo {
  background: #000;
  color: #fff;
  display: grid;
  place-items: center;
  height: 30vh;
  margin: 1em;
  border-radius: 0.5em;
}

.characters {
  display: grid;
  grid-gap: 1em;
  max-width: 50em;
  margin: 2em auto;
  grid-template-columns: repeat(4, 1fr);
  grid-area: chars;
}

.menu-button {
  border-radius: 3em;
  border: 2px solid #eee;
  bottom: 1em;
  font-size: 2em;
  height: 1em;
  line-height: 0;
  padding: 1em 0;
  position: fixed;
  right: 1em;
  text-align: center;
  width: 2em;
}

footer {
  grid-area: footer;
  padding-block: 1em;
  text-align: center;
}

@media screen and (min-width: 15em) and (max-width: 47em) {
  h1 {
    font-size: 15vw;
  }

  .characters {
    display: grid;
    padding: 1em;
    grid-gap: 1em;
    margin: auto;
    justify-content: center;
    grid-template-columns: repeat(2, 1fr);
  }
}
